.footer {
  margin-top: 77px;
  padding-top: 20px;
  display: flex;
  border-top: 1px solid rgba(251, 248, 248, 0.114);
}

.footer a {
  display: block;
  text-decoration: none;
  color: #ffffff;
  opacity: 0.75;
  font-family: 'Epilogue', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
  margin-left: 16px;
}

.footer a:nth-child(4) {
  margin-left: 250px;
}

@media screen and (max-width: 768px){

  .footer {
    flex-wrap: wrap;
  }
}
